<h1>Animal</h1>
<h1><%= @animal.name %></h1>
<h4>age: <%= @animal.age %></h4>
<p>hair: <%= @animal.hair_color %></p>
<p>eyes: <%= @animal.eye_color %></p>
<p>sex: <%= @animal.gender %></p>
<p>dead or alive: <%= @animal.alive %></p>
<%= link_to 'Back', animals_path %>

